<form action="" method="post">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" placeholder="your text" required></textarea><br>
    <input  class="btn btn-primary btn-lg btn-block" name="" type="submit" value="Save"/>
</form>