
<form action="" method="post">

    <div class="form-group">
        <label for="exampleInputText">User name</label>
        <input type="text" name="name" value="" class="form-control" id="exampleInputText" placeholder="User name" required/>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" value="" class="form-control" id="exampleInputPassword1" placeholder="Password" required/>
    </div>
    <input class="btn btn-success" name="" type="submit" value="Save"/>

</form>
